a{
    text-decoration: none;
}
/*Site client*/
body 
{
    background: url(../images/bg.png);
}
.site
{
    font-family: 'Holtwood One SC', sans-serif;
}
.panier{
    float: right;
    color: white;
    position: relative;
}
.panier .basket{
    font-size: 50px;
    color: white;
    transition: .5s;

}
.panier .basket:hover{
    cursor: pointer;
    color: gray;
}

.panier .point-item{
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 2px;
   position: relative;
}
.point{
    position: absolute;
    left: 80%;
    bottom: -20%;
    transform: translate(-50%,-50%);
}
.panier .point-item p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-logo
{
    font-family: 'Holtwood One SC', sans-serif;
    color: #e7480f;
    text-shadow: 2px 2px #ffd301;
    font-size: 50px;
    padding: 40px 0px;
    text-align: center;
}
.text-logo .glyphicon 
{
    color: #ffd301;
    text-shadow: 0px 0px #ffd301;
}
nav
{
   margin-bottom: 40px;
}
.thumbnail img
{
    background: #ffd301;
}
.price
{
    background: #5cb85c;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color: #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px 0 3px 3px;
}
.price:before 
{
    border: 4px solid transparent;
    border-bottom: 4px solid #4a934a;
    border-left: 4px solid #4a934a;
    content: "";
    position: absolute;
    right: 0px;
    top: -8px;
}
h4
{
    color: #e7480f;
    font-size: 18px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
{
    background: #e7480f!important;
    transition: .25s;
}
.nav>li>a:focus, .nav>li>a:hover 
{
    color: #e7480f;
    background-color: #eee;
}
.nav>li>a
{
    color: #eee;
    font-size: 18px;
    text-shadow: 2px 2px #333;
}
.buy
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #e7480f;
    text-decoration: none;
    text-shadow: 2px 2px #333;
    font-family: 'Holtwood One SC', sans-serif !important;
    transition: .25s;
}
.btn-order:hover, .btn-order:focus
{
    color: #A18E8E !important;
    background-color: #c13c0d;
}
/*Site client footer*/
footer{
    font-family: 'Holtwood One SC', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
}
.creat{
    color: white;
    text-align: center;
    position: relative;
    top: 20px;
    text-shadow: 2px 2px black;
}
footer ul{
    list-style: none;

}
footer ul li{
    display: inline;
    margin: 5px;
    position: relative;
    font-size: 20px;
}
footer ul li a{
    color: white;
    transition: .25s;

}
footer ul li a:hover{
    color: #D5D5D5;
    font-size: 23px;
}
/*Admin*/
.admin
{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.categorieName{
    color: black;  
    margin-left: 20px; 
}
/*View*/
.viewBack{
    background: url(../images/bg.png);
    padding-top: 15px;
    border-radius: 2px;
}

/*insert*/
.help-inline
{
    color: red;
}
.thumbnail{
    font-family:'Holtwood One SC';
    
}